VITE_TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
VITE_TELEGRAM_CHAT_ID=YOUR_CHAT_ID
VITE_SUPABASE_URL=https://ycdrzqcjtvrrrggefgua.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_RL6KvsUsRMHyh-O26W6klA_23VJcqDX
